In [3]:
import pandas as pd
import numpy as np


df = pd.read_csv("MLCODE.csv")

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,score
0,-0.560180,0.397133,-0.067608,-1.361568,-1.189112,0.362005,-2.113351,-0.945830,0.967215,-1.035563,...,-1.982848,-2.182985,-1.788343,-1.500597,0.575761,-1.418272,1.969096,-1.663663,0.929276,10.0
1,-0.617345,0.004933,0.107997,-1.275459,-1.116872,0.391739,-2.048924,-1.050489,0.850765,-1.035608,...,-1.709290,-2.184924,-1.784352,-1.194703,0.194767,-1.383189,2.073854,-1.415486,0.632933,8.0
2,-0.597761,0.410195,-0.095720,-1.338432,-1.206770,0.355120,-2.098167,-0.965952,0.973628,-1.008978,...,-2.004396,-2.188181,-1.790508,-1.496068,0.613387,-1.429072,1.965157,-1.676064,0.918330,7.0
3,-0.546645,0.208720,-0.045373,-1.222537,-1.078728,0.421885,-2.104985,-1.122851,0.968126,-0.895802,...,-1.837438,-2.176035,-1.723567,-1.477411,0.382508,-1.410528,1.997823,-1.583785,0.787734,5.0
4,-0.643125,0.430050,-0.008826,-1.351897,-1.171904,0.367173,-2.125630,-0.877730,0.865652,-1.048714,...,-1.947140,-2.250539,-1.726540,-1.531785,0.549569,-1.434322,2.015190,-1.620357,1.025025,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,-1.765830,-2.682315,-1.481811,1.248640,-0.725905,1.540399,-0.321199,-0.397931,-0.888173,0.497768,...,-0.909174,0.503568,-0.641167,-1.294205,-2.402035,-1.718075,-0.915480,-2.096138,0.412238,1.0
1172,-1.898498,-1.897484,-1.761415,0.662543,-0.868898,1.392034,-0.985371,-0.187743,-0.496623,0.845496,...,-1.382139,0.097382,-1.010758,-1.461787,-1.710525,-1.110383,-0.824634,-1.276787,0.273552,8.0
1173,-1.931803,-4.522925,0.445944,0.603920,1.469562,-4.925057,-0.936538,-0.120320,0.228790,-2.796853,...,0.972262,-0.030479,0.135137,1.463492,-1.170290,0.936117,-1.204324,1.097006,-0.862900,2.0
1174,-1.669846,-2.186171,-2.102323,0.619586,-0.960931,1.629884,-0.794663,-0.106962,-0.479505,0.925149,...,-1.258445,0.197480,-0.972337,-1.168023,-1.738411,-1.155843,-0.791999,-1.303357,0.551702,8.0
1175,-1.454368,-2.128856,-2.655107,0.825272,0.783060,1.926405,0.531026,-1.259165,-2.362457,-0.169858,...,-1.243582,0.487808,-0.567364,-0.414606,-1.599639,-2.484789,-0.840587,-2.084066,-0.754227,10.0

In [5]:
df=df.replace(6.5,6)
df[df['score']== 6.5]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 769 columns]

In [6]:
df=df.replace(88,8)
df[df['score']== 88]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 769 columns]

In [7]:
# class = lambda df['score']: 0 if df['score'] <= 5 else 1
df["class"]=df['score'].apply(lambda x: 0 if x <= 5 else 1)

# Assuming you have 'n' classes and each class is stored in a list
class1_vectors = df[df['class']== 0]
class2_vectors = df[df['class']== 1]

class1_vectors.drop(['score', 'class'], axis=1, inplace=True)
class2_vectors.drop(['score', 'class'], axis=1, inplace=True)

C:\Users\geethika\AppData\Local\Temp\ipykernel_18824\2247395021.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class1_vectors.drop(['score', 'class'], axis=1, inplace=True)
C:\Users\geethika\AppData\Local\Temp\ipykernel_18824\2247395021.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class2_vectors.drop(['score', 'class'], axis=1, inplace=True)

In [8]:
#dividing dataset into two datas 
X = df.iloc[:, 0:767]
y = df['class']

In [9]:
import numpy as np
import matplotlib.pyplot as plt

# Step activation function
def step(x):
    return 1 if x >= 0 else 0

# Training data for AND gate
X = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
y = np.array([0, 0, 0, 1])

# Initialize weights and bias
W = np.array([10, 0.2, -0.75])
learning_rate = 0.05

# Lists to store error and epochs
error_history = []
epochs = 0

# Training loop
while True:
    error = 0
    for i in range(len(X)):
        # Calculate the weighted sum
        weighted_sum = np.dot(X[i], W)
        
        # Apply the Step activation function
        output = step(weighted_sum)
        
        # Calculate the error
        delta = y[i] - output
        
        # Update weights and bias
        W += learning_rate * delta * X[i]
        
        # Calculate and accumulate the error (sum-square-error)
        error += delta ** 2
    
    # Append the error to the history
    error_history.append(error)
    
    # Check for convergence (error is zero for all training samples)
    if error == 0:
        break
    
    epochs += 1

# Plot the epochs against the error values
plt.plot(range(epochs + 1), error_history)
plt.xlabel('Epochs')
plt.ylabel('Error')
plt.title('Error vs. Epochs')
plt.show()

print(f"Converged in {epochs} epochs")
print("Final Weights:")
print(f"W0: {W[0]}, W1: {W[1]}, W2: {W[2]}")

ValueError: shapes (2,) and (3,) not aligned: 2 (dim 0) != 3 (dim 0)